* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* fonts */
@font-face {
  font-family: "coolvetica";
  src: url("../assets/fonts/coolveticarg.otf");
}
@font-face {
  font-family: "chanpagne";
  src: url("../assets/fonts/Champagne&LimousinesBold.ttf");
}
@font-face {
  font-family: "louisGeorge";
  src: url("../assets/fonts/LouisGeorgeCafeBold.ttf");
}
.body {
  background-image: url("../assets/img/all-bg7.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.header {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 3.125rem;
}

.head-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 25%;
  width: 100%;
}

.logo-link {
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: center;
}
.logo-link a {
  text-align: center;
}
.logo-link img {
  width: 30%;
}

/* navbar */
.navbar-container {
  display: flex;
  background-image: url("../assets/img/fondo-menu2InvSmall.jpg");
  background-size: cover;
  width: 100%;
  margin-top: 0.625rem;
  height: 5rem;
  justify-content: center;
  align-items: center;
}

.navbar-bg {
  display: flex;
  background-color: rgba(248, 248, 248, 0.5411764706);
  justify-content: center;
  margin-right: 1.875rem;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  align-items: center;
}

.subtitulo {
  text-shadow: 0.0625rem 0.0625rem rgb(63, 60, 49);
  background-color: rgba(212, 193, 167, 0.9098039216);
  padding-left: 1.875rem;
  padding-right: 1.875rem;
}

.imagen-main, .imagen-main-buy {
  width: 90%;
  align-items: center;
  justify-content: center;
  margin-top: 3.125rem;
}
.imagen-main img, .imagen-main-buy img {
  width: 100%;
  border-radius: 0.3125rem;
  border-style: ridge;
  border-width: 0.125rem;
  box-shadow: 3px 3px 10px #2e2d2d;
}

.imagen-main-buy {
  width: 90%;
}

.video-main {
  display: flex;
  width: 60%;
  height: 25rem;
  align-items: center;
  justify-content: center;
  margin-top: 1.25rem;
}
.video-main iframe {
  width: 100%;
  border-radius: 0.3125rem;
  border-style: ridge;
  border-width: 0.125rem;
  box-shadow: 3px 3px 10px #2e2d2d;
}

.linea-horizontal {
  width: 4cm;
  height: 5px;
  background-color: #be731d;
  margin-top: 1.875rem;
}

.titulo-main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.titulo-main p {
  color: #be731d;
}

section h1 {
  font-family: louisGeorge;
  font-size: 1.875rem;
  font-weight: bolder;
  margin-top: 0.625rem;
  text-align: center;
}

section h2 {
  color: #be731d;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  padding: 0.1875rem;
}

.cards-main {
  display: flex;
  flex-grow: 1;
  width: 90%;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 1.25rem;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  width: 30%;
  height: 35rem;
  background-color: antiquewhite;
  border: 2px solid black;
  border-radius: 0.3125rem;
  margin: 0.625rem;
  box-shadow: 3px 3px 10px #2e2d2d;
}
.card p {
  font-family: coolvetica;
  font-size: 1rem;
  padding: 0.3125rem;
}
.card:hover {
  transform: scale(1.05);
}
.card h3 {
  background-color: rgba(196, 151, 29, 0.596);
  padding: 0.625rem 0.3125rem;
  width: 100%;
}

.card-imagen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.card-imagen img {
  width: 100%;
  border-radius: 0.3125rem;
}

.card-text {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  width: 100%;
}

.card-index {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  width: 25%;
  height: 35rem;
  background-color: antiquewhite;
  border: 2px solid black;
  border-radius: 0.3125rem;
  margin: 0.625rem;
  box-shadow: 3px 3px 10px #2e2d2d;
}
.card-index:hover {
  transform: scale(1.05);
}
.card-index h3 {
  background-color: rgba(196, 151, 29, 0.596);
  padding: 0.625rem 0.3125rem;
  width: 100%;
}

.cards-main .card-index p {
  font-family: coolvetica;
  font-size: 1rem;
  padding: 0.3125rem;
}

.card-altas {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  background-color: antiquewhite;
  border: 2px solid black;
  border-radius: 0.3125rem;
  margin: 1.25rem;
  box-shadow: 3px 3px 10px #2e2d2d;
}
.card-altas:hover {
  transform: scale(1.05);
}
.card-altas h3 {
  background-color: rgba(196, 151, 29, 0.596);
  padding: 0.625rem 0.3125rem;
}

.cards-main .card-altas p {
  font-family: coolvetica;
  font-size: 1rem;
  padding: 0.3125rem;
}

/* card horizontal */
.cards-main-h {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 1.875rem;
  justify-content: center;
}

.card-h {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 90%;
  padding-top: 1.25rem;
}
.card-h:hover {
  transform: scale(1.03);
}

.card-h-chicas {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 20%;
  min-width: 12.5rem;
  padding: 1.25rem;
  padding-top: 1.25rem;
}
.card-h-chicas:hover {
  transform: scale(1.03);
}

.card-h-imagen {
  width: 100%;
  border-radius: 50%;
  box-shadow: 3px 3px 10px #2e2d2d;
}
.card-h-imagen img {
  width: 100%;
  border-radius: 50%;
  box-shadow: 3px 3px 10px #2e2d2d;
}

.card-h-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  justify-content: left;
  align-items: left;
  padding: 1.875rem;
}
.card-h-info h3 {
  text-align: center;
  color: #e29b4a;
  text-shadow: 0.0625rem 0.0625rem #696051;
}
.card-h-info p {
  padding-top: 0.625rem;
  padding-left: 0.9375rem;
  font-family: coolvetica;
  font-weight: lighter;
}

.tickets {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
}

.ticket-precios {
  display: flex;
  width: 100%;
}

.card-container-ticket {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  align-items: center;
  justify-content: center;
  border: 1px solid #000;
  border-radius: 5px;
  gap: 20px;
  padding: 1.875rem;
  box-shadow: 0.1875rem 0.1875rem 0.625rem rgb(34, 33, 33);
}

.card-ticket {
  width: 12.5rem;
  height: 12.5rem;
  padding: 1.25rem;
  border: 0.0625rem solid #000;
  border-radius: 0.3125rem;
  text-align: center;
  background-color: rgba(222, 184, 135, 0.267);
}

.note {
  color: #000000;
  font-size: small;
  text-align: center;
  background-color: #e29b4a;
}

.price {
  font-weight: bold;
  color: #000000;
  font-size: large;
  text-align: center;
  background-color: cadetblue;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40%;
  padding: 1.25rem;
  border: 0.0625rem solid #000;
  border-radius: 0.3125rem;
  justify-content: center;
  align-items: center;
  margin-top: 3.25rem;
  background-color: #d4ab7c;
  box-shadow: 0.1875rem 0.1875rem 0.625rem rgb(34, 33, 33);
}
.form p {
  padding: 0.625rem;
}

.form-input {
  padding: 0.625rem;
  width: 30%;
}

.form-input input {
  width: 30%;
}

.galeria-index {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 0.625rem;
  width: 80%;
  margin-top: 1.875rem;
  padding: 1.25rem;
  background-color: #dfcab3;
  grid-template-areas: "img1 img1 img3 img4" "img1 img1 img2 img2" "img5 img6 img2 img2";
}
.galeria-index .imgen1, .galeria-index .imgen2 {
  grid-area: img1;
  width: 100%;
  height: 30%;
}
.galeria-index .imgen2 {
  grid-area: img2;
}
.galeria-index .imgen3 {
  grid-area: img3;
  height: 15%;
}
.galeria-index .imgen4 {
  grid-area: img4;
}
.galeria-index .imgen5 {
  grid-area: img5;
}
.galeria-index .imgen6 {
  grid-area: img6;
}
.galeria-index img {
  max-width: 100%;
  height: auto;
}

.galeria-viaje {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 0.625rem;
  width: 80%;
  padding: 1.25rem;
  background-color: #dfcab3;
}
.galeria-viaje .imgen1, .galeria-viaje .galeria-index .imgen2, .galeria-index .galeria-viaje .imgen2 {
  grid-column: 1/3;
  grid-row: 1/3;
}
.galeria-viaje .imgen1 img, .galeria-viaje .galeria-index .imgen2 img, .galeria-index .galeria-viaje .imgen2 img {
  width: 100%;
}
.galeria-viaje .imgen2 {
  grid-column: 3/5;
  grid-row: 2/4;
}
.galeria-viaje .imgen2 img {
  width: 100%;
}
.galeria-viaje .imgen3 {
  grid-column: 3/4;
  grid-row: 1/2;
}
.galeria-viaje .imgen3 img {
  width: 100%;
}
.galeria-viaje .imgen4 {
  grid-column: 4/5;
  grid-row: 1/2;
}
.galeria-viaje .imgen4 img {
  width: 100%;
}
.galeria-viaje .imgen5 {
  grid-column: 1/2;
  grid-row: 3/4;
}
.galeria-viaje .imgen5 img {
  width: 100%;
}
.galeria-viaje .imgen6 {
  grid-column: 2/3;
  grid-row: 3/4;
}
.galeria-viaje .imgen6 img {
  width: 100%;
}
.galeria-viaje img {
  max-width: 100%;
  height: auto;
}

.mi-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../assets/img/fondo-menu2.jpg");
  background-size: cover;
  padding: 1.875rem;
  margin-top: 1.25rem;
}
.mi-footer h4 {
  font-size: 15px;
  margin-bottom: 5px;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
  margin-bottom: 10px;
}

.mi-footer-secciones {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 70%;
}

.mi-footer-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: left;
  margin-right: 20px;
  align-items: normal;
  justify-content: center;
  align-self: flex-start;
  margin-top: 0.9375rem;
}
.mi-footer-section p {
  font-size: 13px;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
  margin: 0.0625rem;
}

.redes {
  display: flex;
  flex-direction: column;
}

.imagen-redes {
  width: 20%;
}

@media (max-width: 1209px) {
  .redes {
    flex-direction: row;
  }
  .redes p {
    width: 100px;
  }
  .redes img {
    width: 50px;
  }
  .card-altas {
    height: 25rem;
  }
}
@media (max-width: 991px) {
  .navbar-container {
    justify-content: end;
  }
  .logo-link img {
    width: 35%;
  }
}
@media (max-width: 980px) {
  .imagen-main, .imagen-main-buy {
    width: 100%;
  }
  .cards-main {
    display: flex;
    flex-direction: column;
  }
  .card {
    width: 70%;
    height: auto;
    flex-direction: row;
  }
  .card-index {
    width: 70%;
    height: auto;
    flex-direction: row;
  }
  .card-imagen {
    width: 50%;
  }
  .card-texto {
    width: 50%;
  }
  .card-altas {
    width: 70%;
    height: auto;
    flex-direction: row;
  }
  .galeria-index {
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas: "img1 img1" "img1 img1" "img3 img4" "img2 img2" "img2 img2" "img5 img6";
  }
  .galeria-index .imgen1, .galeria-index .imgen2 {
    grid-area: img1;
  }
  .galeria-index .imgen2 {
    grid-area: img2;
  }
  .galeria-index .imgen3 {
    grid-area: img3;
  }
  .galeria-index .imgen4 {
    grid-area: img4;
  }
  .galeria-index .imgen5 {
    grid-area: img5;
  }
  .galeria-index .imgen6 {
    grid-area: img6;
  }
  .galeria-index img {
    max-width: 100%;
    height: auto;
  }
  /* galeria viaje */
  .galeria-viaje {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
    background-color: #dfcab3;
  }
  .galeria-viaje .imgen1, .galeria-viaje .galeria-index .imgen2, .galeria-index .galeria-viaje .imgen2 {
    grid-column: 1/3;
    grid-row: 1/3;
  }
  .galeria-viaje .imgen1 img, .galeria-viaje .galeria-index .imgen2 img, .galeria-index .galeria-viaje .imgen2 img {
    width: 100%;
  }
  .galeria-viaje .imgen2 {
    grid-column: 1/2;
    grid-row: 3/4;
  }
  .galeria-viaje .imgen2 img {
    width: 100%;
  }
  .galeria-viaje .imgen3 {
    grid-column: 2/3;
    grid-row: 3/4;
  }
  .galeria-viaje .imgen3 img {
    width: 100%;
  }
  .galeria-viaje .imgen4 {
    grid-column: 1/2;
    grid-row: 4/5;
  }
  .galeria-viaje .imgen4 img {
    width: 100%;
  }
  .galeria-viaje .imgen5 {
    grid-column: 2/3;
    grid-row: 4/5;
  }
  .galeria-viaje .imgen5 img {
    width: 100%;
  }
  .galeria-viaje .imgen6 {
    grid-column: 1/3;
    grid-row: 5/7;
  }
  .galeria-viaje .imgen6 img {
    width: 100%;
  }
  .galeria-viaje img {
    max-width: 100%;
    height: auto;
  }
}
@media (max-width: 828px) {
  .card-imagen {
    width: 70%;
  }
  .card-texto {
    width: 30%;
  }
}
@media (max-width: 800px) {
  .card {
    flex-direction: column;
  }
  .card-index {
    flex-direction: column;
  }
  .card-imagen {
    width: 100%;
  }
  .card-texto {
    width: 100%;
  }
  .card-h {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
  }
  .card-h-info {
    padding: 0.3125rem;
  }
}
@media (max-width: 768px) {
  .imagen-main-buy {
    margin-top: 2.5rem;
  }
  .imagen-main-buy {
    margin-top: 2.5rem;
  }
  .card-altas {
    height: auto;
    width: 60%;
    flex-direction: column;
  }
  .card-altas .card-imagen {
    width: 100%;
  }
  .card-altas .card-texto {
    width: 100%;
  }
  .card-h {
    height: auto;
    width: 70%;
  }
}
@media (max-width: 600px) {
  .galeria-index {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas: "img1" "img2" "img3" "img4" "img5" "img6";
  }
  .galeria-index .imgen1, .galeria-index .imgen2 {
    grid-area: img1;
  }
  .galeria-index .imgen2 {
    grid-area: img2;
  }
  .galeria-index .imgen3 {
    grid-area: img3;
    justify-self: center;
  }
  .galeria-index .imgen4 {
    grid-area: img4;
    justify-self: center;
  }
  .galeria-index .imgen5 {
    grid-area: img5;
    justify-self: center;
  }
  .galeria-index .imgen6 {
    grid-area: img6;
    justify-self: center;
  }
  .galeria-index img {
    max-width: 100%;
    height: auto;
  }
  /* galeria viaje */
  .galeria-viaje {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr);
    background-color: #dfcab3;
  }
  .galeria-viaje .imgen1, .galeria-viaje .galeria-index .imgen2, .galeria-index .galeria-viaje .imgen2 {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .galeria-viaje .imgen1 img, .galeria-viaje .galeria-index .imgen2 img, .galeria-index .galeria-viaje .imgen2 img {
    width: 100%;
  }
  .galeria-viaje .imgen2 {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .galeria-viaje .imgen2 img {
    width: 100%;
  }
  .galeria-viaje .imgen3 {
    grid-column: 1/2;
    grid-row: 3/4;
  }
  .galeria-viaje .imgen3 img {
    width: 100%;
  }
  .galeria-viaje .imgen4 {
    grid-column: 1/2;
    grid-row: 4/5;
  }
  .galeria-viaje .imgen4 img {
    width: 100%;
  }
  .galeria-viaje .imgen5 {
    grid-column: 1/2;
    grid-row: 5/6;
  }
  .galeria-viaje .imgen5 img {
    width: 100%;
  }
  .galeria-viaje .imgen6 {
    grid-column: 1/2;
    grid-row: 6/7;
  }
  .galeria-viaje .imgen6 img {
    width: 100%;
  }
  .galeria-viaje img {
    max-width: 100%;
    height: auto;
  }
}
@media ((max-width: 580px)) {
  .card-h {
    height: auto;
    width: 70%;
  }
}
@media (max-width: 500px) {
  .card {
    height: 25rem;
  }
  .card-index {
    height: 25rem;
  }
  .mi-footer {
    flex-direction: column;
  }
  .card-altas {
    height: auto;
  }
  .logo-link {
    width: 90%;
    justify-content: center;
  }
  .logo-link a {
    text-align: center;
  }
  .logo-link img {
    width: 40%;
  }
}
@media (max-width: 320px) {
  .card-h {
    height: auto;
  }
}

/*# sourceMappingURL=style.css.map */
