* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* fonts */
@font-face {
  font-family: "coolvetica";
  src: url("../assets/fonts/coolveticarg.otf");
}

@font-face {
  font-family: "chanpagne";
  src: url("../assets/fonts/Champagne&LimousinesBold.ttf");
}

@font-face {
  font-family: "louisGeorge";
  src: url("../assets/fonts/LouisGeorgeCafeBold.ttf");
}

/* --- body --- */
.body {
  background-image: url("../assets/img/all-bg7.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* --- header --- */

.header {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 3.125rem;
}

.head-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 25%;
  width: 100%;
}

.logo-link {
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: center;
}

.logo-link a {
  text-align: center;
}

.logo-link img {
  width: 40%;
}

/* navbar */
.navbar-container {
  display: flex;
  background-image: url("../assets/img/fondo-menu2InvSmall.jpg");
  background-size: cover;
  width: 100%;
  margin-top: 0.625rem;
  height: 7vh;
  justify-content: center;
  align-items: center;
}

.mi-navbar {
  width: 60%;
}

.navbar ul {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  list-style-type: none;
  padding: 0.625rem;
  padding-top: 0.9375rem;
}

.navbar li {
  display: inline-block;
  margin-right: 1rem;
  align-items: center;
}

.navbar a {
  color: rgb(204, 176, 101);
  text-decoration: none;
  font-family: chanpagne;
  font-size: large;
  font-weight: normal;
  text-align: center;
}

.navbar a:hover {
  text-decoration: underline;
}

/* navbar sin bt */
.navbar-container {
  display: flex;
  background-image: url("../assets/img/fondo-menu2InvSmall.jpg");
  background-size: cover;
  width: 100%;
  margin-top: 0.625rem;
  height: 4.375rem;
  justify-content: center;
  align-items: center;
}

.mi-navbar {
  width: 60%;
}

.mi-navbar ul {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  list-style-type: none;
  padding: 0.625rem;
  padding-top: 0.9375rem;
}

.mi-navbar li {
  display: inline-block;
  margin-right: 1rem;
  align-items: center;
}

.mi-navbar a {
  color: rgb(214, 169, 43);
  text-decoration: none;
  /* padding: .3125rem; */
  font-family: chanpagne;
  font-size: large;
  font-weight: normal;
  text-align: center;
  text-shadow: 0.06px 0.0625rem rgb(43, 39, 32);
}

.mi-navbar a:hover {
  text-decoration: underline;
}

/* --- main --- */

.main {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.imagen-main {
  width: 90%;
  align-items: center;
  justify-content: center;
  margin-top: 3.125rem;
}

.imagen-main img {
  width: 100%;
  border-radius: 0.3125rem;
  border-style: ridge;
  border-width: 0.125rem;
  box-shadow: 3px 3px 10px #2e2d2d;
}

.imagen-main-buy {
  width: 80%;
  align-items: center;
  justify-content: center;
  margin-top: 3.125rem;
}

.imagen-main-buy img {
  width: 100%;
  border-radius: 0.3125rem;
  border-style: ridge;
  border-width: 0.125rem;
  box-shadow: 3px 3px 10px #2e2d2d;
}

.video-main {
  display: flex;
  width: 60%;
  height: 25rem;
  align-items: center;
  justify-content: center;
  margin-top: 1.25rem;
}

.video-main iframe {
  width: 100%;
  border-radius: 0.3125rem;
  border-style: ridge;
  border-width: 0.125rem;
  box-shadow: 3px 3px 10px #2e2d2d;
}

.linea-horizontal {
  width: 4cm;
  height: 5px;
  background-color: #be731d;
  /* margin: 0 auto; */
  margin-top: 1.875rem;
}

.titulo-main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.titulo-main p {
  color: #be731d;
}

section h1 {
  font-family: louisGeorge;
  font-size: 1.875rem;
  font-weight: bolder;
  margin-top: 0.625rem;
  text-align: center;
}

section h2 {
  font-family: chanpagne;
  color: #be731d;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  padding: 0.1875rem;
}

.cards-main {
  display: flex;
  flex-grow: 1;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-top: 1.25rem;
}

.card {
  display: flex;
  flex-direction: column;
  width: 20%;
  height: 30rem;
  background-color: antiquewhite;
  border: 2px solid black;
  border-radius: 0.3125rem;
  margin: 0.625rem;
  box-shadow: 3px 3px 10px #2e2d2d;
}

.card-imagen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 30rem;
}

.card h3 {
  background-color: rgba(196, 151, 29, 0.596);
  padding: 0.625rem 0.3125rem;
}

.card-imagen img {
  width: 100%;
  border-radius: 0.3125rem;
}

.cards-main .card p {
  font-family: coolvetica;
  font-size: 1rem;
  padding: 0.3125rem;
}

.card-altas {
  display: flex;
  flex-direction: column;
  width: 50%;
  background-color: antiquewhite;
  border: 2px solid black;
  border-radius: 0.3125rem;
  margin: 20px;
  box-shadow: 3px 3px 10px #2e2d2d;
}

.card-altas h3 {
  background-color: rgba(196, 151, 29, 0.596);
  padding: 0.625rem 0.3125rem;
}

.cards-main .card-altas p {
  font-family: coolvetica;
  font-size: 1rem;
  padding: 0.3125rem;
}

/* card horizontal */
.cards-main-h {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 1.875rem;
  gap: 0.9375rem;
  justify-content: center;
}

.card-h {
  display: flex;
  flex-direction: column;
  width: 40%;
  min-width: 12.5rem;
  border: 2px solid black;
  border-radius: 0.3125rem;
  box-shadow: 3px 3px 10px #2e2d2d;
}

.card-h-chicas {
  display: flex;
  flex-direction: column;
  width: 20%;
  min-width: 12.5rem;
  border: 2px solid black;
  border-radius: 0.3125rem;
  box-shadow: 3px 3px 10px #2e2d2d;
}

.card-h-imagen {
  width: 100%;
}

.card-h-imagen img {
  width: 100%;
}

.card-h-info {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: left;
  align-items: left;
}

.card-h-info h3 {
  padding: 1.25rem;
  background-color: #be731d;
  text-align: center;
}

.card-h-info p {
  padding: 1.25rem;
  font-family: coolvetica;
  font-weight: lighter;
}

.tickets {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.ticket-precios {
  display: flex;
  width: 100%;
}

.card-container-ticket {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  align-items: center;
  justify-content: center;
  border: 1px solid #000;
  border-radius: 5px;
  gap: 20px;
  padding: 1.875rem;
  box-shadow: 0.1875rem 0.1875rem 0.625rem rgb(34, 33, 33);
}

.card-ticket {
  width: 12.5rem;
  height: 12.5rem;
  padding: 1.25rem;
  border: 0.0625rem solid #000;
  border-radius: 0.3125rem;
  text-align: center;
  background-color: rgba(222, 184, 135, 0.267);
}

.note {
  color: #000000;
  font-size: small;
  text-align: center;
  background-color: #e29b4a;
  /* padding-top: 1.25rem; */
}

.price {
  font-weight: bold;
  color: #000000;
  font-size: large;
  text-align: center;
  background-color: cadetblue;
}

.form {
  display: flex;
  flex-direction: column;
  width: 40%;
  padding: 1.25rem;
  border: 0.0625rem solid #000;
  border-radius: 0.3125rem;
  justify-content: center;
  align-items: center;
  margin-top: 3.25rem;
  background-color: #d4ab7c;
  box-shadow: 0.1875rem 0.1875rem 0.625rem rgb(34, 33, 33);
}

.form p {
  padding: 0.625rem;
}

.form-input {
  padding: 0.625rem;
  width: 30%;
}

.form-input input {
  width: 30%;
}

/* galeria Index*/

.galeria-index {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 0.625rem;
  width: 80%;
  margin-top: 1.875rem;
  padding: 1.25rem;
  background-color: #dfcab3;
  grid-template-areas:
    "img1 img1 img3 img4"
    "img1 img1 img2 img2"
    "img5 img6 img2 img2";
}

.galeria-index .imgen1 {
  grid-area: img1;
  width: 100%;
  height: 30%;
}

.galeria-index .imgen2 {
  grid-area: img2;
  width: 100%;
  height: 30%;
}

.galeria-index .imgen3 {
  grid-area: img3;
  height: 15%;
}

.galeria-index .imgen4 {
  grid-area: img4;
}

.galeria-index .imgen5 {
  grid-area: img5;
}

.galeria-index .imgen6 {
  grid-area: img6;
}

.galeria-index img {
  max-width: 100%;
  height: auto;
}

/* galeria viaje */

.galeria-viaje {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 0.625rem;
  width: 80%;
  padding: 1.25rem;
  background-color: #dfcab3;
}

.galeria-viaje .imgen1 {
  grid-column: 1 / 3;
  grid-row: 1 / 3;
}

.galeria-viaje .imgen1 img {
  width: 100%;
}

.galeria-viaje .imgen2 {
  grid-column: 3 / 5;
  grid-row: 2 / 4;
}

.galeria-viaje .imgen2 img {
  width: 100%;
}

.galeria-viaje .imgen3 {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
}

.galeria-viaje .imgen3 img {
  width: 100%;
}

.galeria-viaje .imgen4 {
  grid-column: 4 / 5;
  grid-row: 1 / 2;
}

.galeria-viaje .imgen4 img {
  width: 100%;
}

.galeria-viaje .imgen5 {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
}

.galeria-viaje .imgen5 img {
  width: 100%;
}

.galeria-viaje .imgen6 {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
}

.galeria-viaje .imgen6 img {
  width: 100%;
}

.galeria-index img {
  max-width: 100%;
  height: auto;
}

/* --- footer --- */

.mi-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../assets/img/fondo-menu2.jpg");
  background-size: cover;
  padding: 1.875rem;
  margin-top: 1.25rem;
}

.mi-footer-secciones {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 70%;
}

.mi-footer-section {
  text-align: left;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  align-items: normal;
  justify-content: center;
  align-self: flex-start;
  margin-top: 0.9375rem;
}

.mi-footer h4 {
  font-size: 15px;
  margin-bottom: 5px;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
  margin-bottom: 10px;
}

.mi-footer-section p {
  font-size: 13px;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
  margin: 0.0625rem;
}

.redes {
  display: flex;
  flex-direction: column;
}

.imagen-redes {
  width: 20%;
}

@media (max-width: 1209px) {
  .redes {
    flex-direction: row;
  }

  .redes p {
    width: 100px;
  }

  .redes img {
    width: 50px;
  }

  .card-altas {
    height: 25rem;
  }
}

@media (max-width: 980px) {
  .imagen-main {
    width: 100%;
  }

  .cards-main {
    display: flex;
    flex-direction: column;
  }

  .card {
    width: 70%;
    height: auto;
    flex-direction: row;
  }

  .card-imagen {
    width: 50%;
  }

  .card-texto {
    width: 50%;
  }

  .card-altas {
    width: 70%;
    height: auto;
    flex-direction: row;
  }

  .galeria-index {
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas:
      "img1 img1"
      "img1 img1"
      "img3 img4"
      "img2 img2"
      "img2 img2"
      "img5 img6";
  }

  .galeria-index .imgen1 {
    grid-area: img1;
  }

  .galeria-index .imgen2 {
    grid-area: img2;
  }

  .galeria-index .imgen3 {
    grid-area: img3;
  }

  .galeria-index .imgen4 {
    grid-area: img4;
  }

  .galeria-index .imgen5 {
    grid-area: img5;
  }

  .galeria-index .imgen6 {
    grid-area: img6;
  }

  .galeria-index img {
    max-width: 100%;
    height: auto;
  }

  /* galeria viaje */

  .galeria-viaje {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
    background-color: #dfcab3;
  }

  .galeria-viaje .imgen1 {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
  }

  .galeria-viaje .imgen1 img {
    width: 100%;
  }

  .galeria-viaje .imgen2 {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }

  .galeria-viaje .imgen2 img {
    width: 100%;
  }

  .galeria-viaje .imgen3 {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
  }

  .galeria-viaje .imgen3 img {
    width: 100%;
  }

  .galeria-viaje .imgen4 {
    grid-column: 1 / 2;
    grid-row: 4 / 5;
  }

  .galeria-viaje .imgen4 img {
    width: 100%;
  }

  .galeria-viaje .imgen5 {
    grid-column: 2 / 3;
    grid-row: 4 / 5;
  }

  .galeria-viaje .imgen5 img {
    width: 100%;
  }

  .galeria-viaje .imgen6 {
    grid-column: 1 / 3;
    grid-row: 5 / 7;
  }

  .galeria-viaje .imgen6 img {
    width: 100%;
  }

  .galeria-index img {
    max-width: 100%;
    height: auto;
  }
}

@media (max-width: 828px) {
  .card-imagen {
    width: 70%;
  }

  .card-texto {
    width: 30%;
  }
}

@media (max-width: 768px) {
  .navbar-container {
    background-image: url("../assets/img/fondo-menu2InvSmallest1.jpg");
    background-size: cover;
    margin-top: 0.625rem;
    height: 15%;
  }

  .navbar ul {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .mi-navbar ul {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .imagen-main-buy {
    margin-top: 2.5rem;
  }

  .imagen-main-buy {
    margin-top: 2.5rem;
  }

  .card-altas {
    height: auto;
    width: 60%;
    flex-direction: column;
  }

  .card-altas .card-imagen {
    width: 100%;
  }

  .card-altas .card-texto {
    width: 100%;
  }

  .card-h {
    height: auto;
    width: 70%;
  }
}

@media ((max-width: 580px)) {
  .card-h {
    height: auto;
    width: 70%;
  }
}

@media (max-width: 600px) {
  .card {
    flex-direction: column;
  }

  .card-imagen {
    width: 100%;
  }

  .card-texto {
    width: 100%;
  }

  .galeria-index {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas:
      "img1"
      "img2"
      "img3"
      "img4"
      "img5"
      "img6";
  }

  .galeria-index .imgen1 {
    grid-area: img1;
  }

  .galeria-index .imgen2 {
    grid-area: img2;
  }

  .galeria-index .imgen3 {
    grid-area: img3;
    justify-self: center;
  }

  .galeria-index .imgen4 {
    grid-area: img4;
    justify-self: center;
  }

  .galeria-index .imgen5 {
    grid-area: img5;
    justify-self: center;
  }

  .galeria-index .imgen6 {
    grid-area: img6;
    justify-self: center;
  }

  .galeria-index img {
    max-width: 100%;
    height: auto;
  }

  /* galeria viaje */

  .galeria-viaje {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr);
    background-color: #dfcab3;
  }

  .galeria-viaje .imgen1 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  .galeria-viaje .imgen1 img {
    width: 100%;
  }

  .galeria-viaje .imgen2 {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }

  .galeria-viaje .imgen2 img {
    width: 100%;
  }

  .galeria-viaje .imgen3 {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }

  .galeria-viaje .imgen3 img {
    width: 100%;
  }

  .galeria-viaje .imgen4 {
    grid-column: 1 / 2;
    grid-row: 4 / 5;
  }

  .galeria-viaje .imgen4 img {
    width: 100%;
  }

  .galeria-viaje .imgen5 {
    grid-column: 1 / 2;
    grid-row: 5 / 6;
  }

  .galeria-viaje .imgen5 img {
    width: 100%;
  }

  .galeria-viaje .imgen6 {
    grid-column: 1 / 2;
    grid-row: 6 / 7;
  }

  .galeria-viaje .imgen6 img {
    width: 100%;
  }

  .galeria-index img {
    max-width: 100%;
    height: auto;
  }
}

@media (max-width: 500px) {
  .card {
    height: 25rem;
  }

  .mi-footer {
    flex-direction: column;
  }

  .card-altas {
    height: auto;
  }
}

@media (max-width: 320px) {
  .card {
    height: 18.75rem;
  }

  .card-h {
    height: auto;
  }
}
