@media (max-width: 1209px) {
  .main {
    margin-top: .8rem;
  }

  .video-main{
    height: auto;
  }

  .cards-main {
    display: flex;
    flex-direction: column;
  }

  .card {
    width: 70%;
    height: auto;
    flex-direction: column;
  }

  .card-index {
    width: 80%;
    height: auto;
  }

  .card-altas{
    width: 80%;
    height: auto;
  }

  .card-imagen {
    width: 100%;
  }

  .card-texto {
    width: 100%;
  }

  .form{
    width: 70%;
  }
    
  .redes {
    flex-direction: row;
    p {
      width: 100px;
    }
    img {
      width: 50px;
    }
  }
}