@media (max-width: 768px) {
  // .main {
  //   margin-top: 13rem;
  // }

  .logo-link {
    width: 50%;
  }

  .imagen-main-buy {
    margin-top: 2.5rem;
  }

  .imagen-main-buy {
    margin-top: 2.5rem;
  }

  .card-altas {
    height: auto;
    width: 80%;
    flex-direction: column;
    .card-imagen {
      width: 100%;
    }
    .card-texto {
      width: 100%;
    }
  }

  .card-h {
    height: auto;
    width: 90%;
    justify-content: center;
    align-items: center;
  }

  .card-h-info{
    width: 100%;
  }

  .card-h-imagen{
    width: 70%;
  }
}