@media (max-width: 500px) {
  .main {
    margin-top: .5rem;
  }

    .card {
      height: 25rem;
    }

    .card-index {
      width: 90%;
    }

    .card{
      width: 80%;
      height: 40rem;
    }  
  
    .mi-footer {
      flex-direction: column;
    }
  
    .card-altas {
      height: auto;
    }

  .logo-link {
     width: 75%;
  }
}