@media (max-width: 500px) {
    .card {
      height: 25rem;
    }

    .card-index {
      width: 100%;
      height: 30rem;
    }

    .card{
      width: 100%;
      height: 40rem;
    }  
  
    .mi-footer {
      flex-direction: column;
    }
  
    .card-altas {
      height: auto;
    }

    .logo-link {
      width: 90%;
      justify-content: center;
      a {
        text-align: center;
      }
      img {
        width: 40%;
      }
    }
}