@media (max-width: 768px) {
    .imagen-main-buy {
      margin-top: 2.5rem;
    }
  
    .imagen-main-buy {
      margin-top: 2.5rem;
    }
  
    .card-altas {
      height: auto;
      width: 60%;
      flex-direction: column;
      .card-imagen {
        width: 100%;
      }
      .card-texto {
        width: 100%;
      }
    }

    .card-h {
      height: auto;
      width: 70%;
    }
  }