@media (max-width: 800px) {
  .card-h{
    @include flex(column, start, start);
    align-items: center;
  }

  .card-h-info{
    width: 100%;
    padding: .3125rem;
  }

  .card-h-imagen{
    width: 70%;
  }

  .card-h-chicas {
    @include flex(row, center, center);
    width: 80%;
  }
}