@media (max-width: 1209px) {
    .redes {
      flex-direction: row;
      p {
        width: 100px;
      }
      img {
        width: 50px;
      }
    }
  
    .card-altas {
      height: 25rem;
    }
  }