@mixin flex($direction, $align, $justify){
    display: flex;
    flex-direction: $direction;
    align-items: $align;
    justify-content: $justify;
}

@mixin round-border($margin){
    border: 2px solid black;
    border-radius: 0.3125rem;
    margin: $margin;
    box-shadow: 3px 3px 10px #2e2d2d;
}