  /* fonts */
  @font-face {
    font-family: "coolvetica";
    src: url("../assets/fonts/coolveticarg.otf");
  }
  
  @font-face {
    font-family: "chanpagne";
    src: url("../assets/fonts/Champagne&LimousinesBold.ttf");
  }
  
  @font-face {
    font-family: "louisGeorge";
    src: url("../assets/fonts/LouisGeorgeCafeBold.ttf");
  }